<div class="main">
    <h1> Students</h1> <a href="add/" class="btn">Add Record</a>

    <table border="1">
        <tr>
            <th>ID</th><th>Last Name</th><th>First Name</th><th>Major</th><th>Email</th>
        </tr>
        
        {% for data in dataset %}
        <tr>
            <td> {{ data.id }} </td>
            <td> {{ data.last_name }} </td>
            <td> {{ data.first_name }} </td>
            <td> {{ data.major }} </td>
            <td> {{data.email }} </td>

        </tr>
 
    {% endfor %}
    </table>   
</div>
